{% extends 'registration/base_accounts.html' %}

{% block title %}Change password successful{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card m-4">
            <div class="card-body">
                <h3 class="card-title">Change password successful</h3>
                <strong>Success!</strong> Your password has been changed!
                <p class="my-5"><a href="{% url'translates'%}" class="btn btn-secondary">Return to home page</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}