{% extends "translates/base.html" %}

{% load static %}

{% block title %}
Home page
{% endblock %}

{% block content %}

<section class="page-section">
    <div class="container">
        <div class="jumbotron">
            <h2>MojeZeby.pl</h2>
            <h3>- Tools</h3>
            {% if user.is_authenticated %}
            <hr class="my-4">
            <h4>Welcome, <span><strong>{{ user.username }}</strong></span></h4>
            <h5 class="mt-5">Explore avaible helper tools for managing the portal:</h5>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">
                    <a class="nav-link" href="{% url 'translate' %}"><span>&rArr; </span>Translate</a>
                </li>
            </ul>
            {% else %}
            <form class="form-inline ml-auto">
                <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
            </form>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}